@model IEnumerable<MovieCatalog.Models.Movie>

<h2>Список фильмов</h2>
<p><a asp-action="Create" asp-controller="Movies">Добавить новый фильм</a></p>
<table class="table table-striped table-hover mt-4">
    <thead>
        <tr>
            <th>Название</th>
            <th>Жанр</th>
            <th>Дата выхода</th>
            <th>Бюджет (млн)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Genre</td>
            <td>@movie.ReleaseDate.ToShortDateString()</td>
            <td>@movie.Price</td>
            <td>
                <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-sm btn-primary">Редактировать</a>
                <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-sm btn-danger ms-2">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>

